@import "./variables.scss";

$spinner: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_348_9)'%3E%3Cpath d='M46.6557 3.55355C50.2071 5.38327 53.406 7.87291 56.0699 10.9138C58.7338 13.9546 60.7809 17.4533 62.1275 21.2145C63.0318 23.7406 63.6202 26.3851 63.8672 29.0889C63.8672 29.0889 63.7313 31.8316 60.6573 31.9507C58.5646 32.0319 57.5327 29.7297 57.5068 29.6711C57.506 29.6693 57.5062 29.669 57.5061 29.667V29.667C57.0134 24.2817 54.8289 19.1904 51.2654 15.1227C47.7012 11.0542 42.9406 8.21851 37.6657 7.02201L39.0787 0.792909C41.7265 1.39351 44.2706 2.3247 46.6557 3.55355Z' fill='url(%23paint0_linear_348_9)'/%3E%3Cpath d='M10.021 18.9082C10.0215 18.9073 10.0221 18.9064 10.0226 18.9055C12.7873 14.2653 16.9498 10.6192 21.9137 8.48967C26.8786 6.35967 32.3904 5.85614 37.659 7.05123L39.0786 0.792776C39.0775 0.792525 39.0764 0.792273 39.0753 0.792023C36.4286 0.19196 33.7328 -0.0654169 31.0521 0.014046C27.0588 0.132413 23.0988 0.998191 19.3836 2.59205C15.6684 4.18592 12.3121 6.45891 9.47449 9.27106C7.56875 11.1597 5.89696 13.2915 4.50754 15.6242L10.021 18.9082Z' fill='url(%23paint1_linear_348_9)'/%3E%3Cpath d='M12.7571 48.8578C9.19716 44.7941 7.01504 39.7077 6.52354 34.3276C6.03216 28.949 7.25568 23.5529 10.0188 18.9123C10.0195 18.911 10.0203 18.9097 10.0211 18.9084L4.5076 15.6243C4.50665 15.6259 4.5057 15.6275 4.50475 15.6291C3.11671 17.9603 2.03927 20.444 1.28664 23.0174C0.165228 26.8518 -0.235079 30.8855 0.132714 34.9114C0.500507 38.9373 1.6251 42.8318 3.42275 46.3995C4.63005 48.7956 6.14094 51.0443 7.93003 53.0865L12.7571 48.8578Z' fill='url(%23paint2_linear_348_9)'/%3E%3Cpath d='M42.0857 55.51L44.6158 61.4076C42.1207 62.478 39.5151 63.2201 36.8632 63.6278C32.9146 64.235 28.8633 64.1011 24.9208 63.2068C20.9783 62.3126 17.2657 60.6854 13.9655 58.4339C11.7491 56.9219 9.71865 55.1283 7.92956 53.086L12.7567 48.8573C12.7574 48.8581 12.7581 48.8589 12.7588 48.8597C16.3185 52.9221 21.0728 55.7535 26.3404 56.9484C31.609 58.1435 37.1208 57.64 42.0857 55.51Z' fill='url(%23paint3_linear_348_9)'/%3E%3Cpath d='M57.4757 29.672C57.9672 35.0521 56.7429 40.4497 53.9782 45.0912C51.2135 49.7326 47.0504 53.3797 42.0855 55.5097L44.6156 61.4074C47.1108 60.3369 49.444 58.9601 51.567 57.3194C54.728 54.8765 57.4229 51.8484 59.4917 48.3752C61.5605 44.902 62.9397 41.0904 63.5825 37.1474C64.0141 34.4993 64.1136 31.7919 63.8666 29.0881L57.4757 29.672Z' fill='url(%23paint4_linear_348_9)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_348_9' x1='60.86' y1='28.0509' x2='38.3371' y2='3.8028' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A588E2'/%3E%3Cstop offset='1' stop-color='%23A588E2' stop-opacity='0.9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_348_9' x1='38.3097' y1='3.0961' x2='7.03418' y2='17.7535' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A588E2' stop-opacity='0.9'/%3E%3Cstop offset='1' stop-color='%23A588E2' stop-opacity='0.7'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_348_9' x1='7.00688' y1='17.0471' x2='10.1291' y2='51.9541' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A588E2' stop-opacity='0.7'/%3E%3Cstop offset='1' stop-color='%23A588E2' stop-opacity='0.3'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_348_9' x1='10.8078' y1='51.2196' x2='43.2993' y2='58.8057' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A588E2' stop-opacity='0.3'/%3E%3Cstop offset='1' stop-color='%23A588E2' stop-opacity='0.15'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_348_9' x1='42.9321' y1='58.4659' x2='60.9689' y2='30.8765' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A588E2' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%23A588E2' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
$spinner-white: url("data:image/svg+xml,%3Csvg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_348_9)'%3E%3Cpath d='M46.6557 3.55355C50.2071 5.38327 53.406 7.87291 56.0699 10.9138C58.7338 13.9546 60.7809 17.4533 62.1275 21.2145C63.0318 23.7406 63.6202 26.3851 63.8672 29.0889C63.8672 29.0889 63.7313 31.8316 60.6573 31.9507C58.5646 32.0319 57.5327 29.7297 57.5068 29.6711C57.506 29.6693 57.5062 29.669 57.5061 29.667V29.667C57.0134 24.2817 54.8289 19.1904 51.2654 15.1227C47.7012 11.0542 42.9406 8.21851 37.6657 7.02201L39.0787 0.792909C41.7265 1.39351 44.2706 2.3247 46.6557 3.55355Z' fill='url(%23paint0_linear_348_9)'/%3E%3Cpath d='M10.021 18.9082C10.0215 18.9073 10.0221 18.9064 10.0226 18.9055C12.7873 14.2653 16.9498 10.6192 21.9137 8.48967C26.8786 6.35967 32.3904 5.85614 37.659 7.05123L39.0786 0.792776C39.0775 0.792525 39.0764 0.792273 39.0753 0.792023C36.4286 0.19196 33.7328 -0.0654169 31.0521 0.014046C27.0588 0.132413 23.0988 0.998191 19.3836 2.59205C15.6684 4.18592 12.3121 6.45891 9.47449 9.27106C7.56875 11.1597 5.89696 13.2915 4.50754 15.6242L10.021 18.9082Z' fill='url(%23paint1_linear_348_9)'/%3E%3Cpath d='M12.7571 48.8578C9.19716 44.7941 7.01504 39.7077 6.52354 34.3276C6.03216 28.949 7.25568 23.5529 10.0188 18.9123C10.0195 18.911 10.0203 18.9097 10.0211 18.9084L4.5076 15.6243C4.50665 15.6259 4.5057 15.6275 4.50475 15.6291C3.11671 17.9603 2.03927 20.444 1.28664 23.0174C0.165228 26.8518 -0.235079 30.8855 0.132714 34.9114C0.500507 38.9373 1.6251 42.8318 3.42275 46.3995C4.63005 48.7956 6.14094 51.0443 7.93003 53.0865L12.7571 48.8578Z' fill='url(%23paint2_linear_348_9)'/%3E%3Cpath d='M42.0857 55.51L44.6158 61.4076C42.1207 62.478 39.5151 63.2201 36.8632 63.6278C32.9146 64.235 28.8633 64.1011 24.9208 63.2068C20.9783 62.3126 17.2657 60.6854 13.9655 58.4339C11.7491 56.9219 9.71865 55.1283 7.92956 53.086L12.7567 48.8573C12.7574 48.8581 12.7581 48.8589 12.7588 48.8597C16.3185 52.9221 21.0728 55.7535 26.3404 56.9484C31.609 58.1435 37.1208 57.64 42.0857 55.51Z' fill='url(%23paint3_linear_348_9)'/%3E%3Cpath d='M57.4757 29.672C57.9672 35.0521 56.7429 40.4497 53.9782 45.0912C51.2135 49.7326 47.0504 53.3797 42.0855 55.5097L44.6156 61.4074C47.1108 60.3369 49.444 58.9601 51.567 57.3194C54.728 54.8765 57.4229 51.8484 59.4917 48.3752C61.5605 44.902 62.9397 41.0904 63.5825 37.1474C64.0141 34.4993 64.1136 31.7919 63.8666 29.0881L57.4757 29.672Z' fill='url(%23paint4_linear_348_9)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_348_9' x1='60.86' y1='28.0509' x2='38.3371' y2='3.8028' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0.9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_348_9' x1='38.3097' y1='3.0961' x2='7.03418' y2='17.7535' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='0.9'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0.7'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_348_9' x1='7.00688' y1='17.0471' x2='10.1291' y2='51.9541' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='0.7'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0.3'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_348_9' x1='10.8078' y1='51.2196' x2='43.2993' y2='58.8057' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='0.3'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0.15'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_348_9' x1='42.9321' y1='58.4659' x2='60.9689' y2='30.8765' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='0.15'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

.preloader {
  position: relative;
  flex-grow: 1;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white, .4);
    backdrop-filter: blur(30px);
    z-index: 7;
  }
  &:after{
    content: '';
    position: absolute;
    left: calc(50% - 5rem);
    top: calc(min(50%, 50vh) - 5rem);
    width: 10rem;
    height: 10rem;
    max-height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: $spinner;
    z-index: 7;
    animation: rotate 1.5s infinite linear;
  }
}

.game-preloader {
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white, .5);
    backdrop-filter: blur(80px);
    z-index: 7;
  }
  &:after{
    content: '';
    position: absolute;
    left: calc(50% - 5rem);
    top: calc(50% - 5rem);
    width: 10rem;
    height: 10rem;
    max-height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: $spinner-white;
    z-index: 7;
    animation: rotate 1.5s infinite linear;
  }
}

.page-wrapper .btn-preloader{
  position: relative;
  pointer-events: none;
  color: transparent;
  user-select: none;
  &:after{
    content: '';
    position: absolute;
    left: calc(50% - 1.2rem);
    top: calc(50% - 1.2rem);
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: $spinner-white;
    z-index: 1;
    animation: rotate .9s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark-theme{
  .preloader{
    &:before{
      background-color: rgba($dt-bg-dark, .4);
    }
  }
}