/* COLORS */
$primary: #A588E2;
$primary-dark: #563C8A;
$primary-light: #E7DBFF;
$primary-light-2: #DFD0FF;

$white: #FFFFFF;
$white10: #fcfcfc;

$black: #1d1d1d;

$text: #422D6D;

$bg-dark: #F7F3FF;
$bg-light: #FCFAFF;

$red: #FA5F55;
$red-light: #FC9F99;
$green: #70FF8F;
$green-2: #0AFF41;
$green-3: #4eed5e;
$yellow: #F1DC21;

//dark-theme colors
$dt-text: #F7F3FF;
$dt-primary: #58408A;
$dt-primary-dark: #442A7A;
$dt-primary-light: #D5C0FF;
$dt-primary-light-2: #8A6DC4;
$dt-bg-dark: #2E1D50;
$dt-bg-light: #422D6D;

//shadow
$shadow-sidebar: .4rem 0 .8rem rgba($black, .15);
$shadow-header: 0 .4rem 1.2rem rgba($black, .10);
$shadow-1: .4rem .4rem 2rem rgba($black, .1);
$shadow-2: .4rem .4rem 1.2rem rgba($primary-dark, .25);
$shadow-3: .8rem .8rem 3rem rgba($black, .16);
$shadow-4: 0 0 1.5rem rgba($primary-dark, .2);
$shadow-5: 0 .4rem 1.2rem rgba($black, .3);

//fonts
$font-primary: "Fira Code",  sans-serif;
$f-light: 300;
$f-normal: 400;
$f-bold: 500;

//sizes
$aside-close: 7.2rem;
$aside-open: 26.4rem;
$header: 8.2rem;
$footer: 9.2rem;

//bg
$background-main: url("data:image/svg+xml,%3Csvg viewBox='0 0 1920 11329' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='746' cy='178' rx='1219' ry='964' fill='%23E7DBFF'/%3E%3Cellipse cx='1316' cy='3049' rx='1418' ry='993' fill='%23E7DBFF'/%3E%3Cellipse cx='-103' cy='6046' rx='1418' ry='993' fill='%23E7DBFF'/%3E%3Cellipse cx='1303' cy='9317' rx='1418' ry='993' fill='%23E7DBFF'/%3E%3C/svg%3E");
$dt-background-main: url("data:image/svg+xml,%3Csvg viewBox='0 0 1920 11329' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='746' cy='178' rx='1219' ry='964' fill='%23422D6D'/%3E%3Cellipse cx='1316' cy='3049' rx='1418' ry='993' fill='%23422D6D'/%3E%3Cellipse cx='-103' cy='6046' rx='1418' ry='993' fill='%23422D6D'/%3E%3Cellipse cx='1303' cy='9317' rx='1418' ry='993' fill='%23422D6D'/%3E%3C/svg%3E");
$background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1921 980' xmlns='http://www.w3.org/2000/svg%27%3E%3Cellipse cx='304' cy='-534' rx='1220' ry='964' fill='%23E7DBFF'/%3E%3Cellipse cx='1239' cy='1454' rx='1220' ry='964' fill='%23E7DBFF'/%3E%3C/svg%3E");
$dt-background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1921 980' xmlns='http://www.w3.org/2000/svg%27%3E%3Cellipse cx='304' cy='-534' rx='1220' ry='964' fill='%23422D6D'/%3E%3Cellipse cx='1239' cy='1454' rx='1220' ry='964' fill='%23422D6D'/%3E%3C/svg%3E");

/* RADII */
$button-radius: 0.7rem;

/* Authorization */
$max-width: 758px;
$max-height: 420px;

/* Sprint */
$sprint-max-width: 1920px;
$sprint-height: 980px;
